<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Microphone Audio Display</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css')}}"
    >   
</head>
<body>
    <h1>Real-time Microphone Audio - 1 minute</h1>
    <canvas id="audio-visualizer"></canvas>
    <script src="{{ url_for('static', filename='js/display_audio.js') }}"></script>

    <script>
        
    </script>
</body>
</html>
