<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">    
        <title>display</title>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}" 
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css')}}"
        />   
    </head>
    <body>        
        <div class="col-md-10 text-right dt-image-register-btn">
            <a href="" class="btn btn-primary">計測開始</a>
        </div>
        <div class="col-md-10 text-right dt-image-register-btn">
            <a href="" class="btn btn-primary">条件づけ</a>
        </div>
    </body>
</html>
