<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">    
        <title>display</title>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}" 
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css')}}"
        />   
    </head>
    <body>        
        <div class="row">
            <div class="col-md-11 text-right">
                <form id="ip-form">
                    <label for="ip-address">M5StickCのIPアドレス</label>
                    <input type="text" id="ip-address" name="ip-address" required>
                    <button class="btn btn-danger" type="button" id="save-ip">保存</button>
                </form>
                <form id="buzz-form">
                    <button class="btn btn-warning" type="button" id="buzz-button">音提示</button>
                </form>
            </div>
            
            <canvas class="offset-md-1 col-md-10 text-center" id="audio-visualizer"></canvas>
        
            <div class="col-md-7 text-center">
                <p>推定唾液分泌量: {{ threshold_value }}</p>
                <p>咀嚼: <span id="mastication-count">0</span></p>
            </div>
            <div class="col-md-4 text-right">                
                <a href="" class="btn btn-primary">計測開始</a>
                <button class="btn btn-primary" type="button" id="conditioning-button">条件づけ</button>                
            </div>
        </div>
        <script>
            const thresholdValue = {{ threshold_value }};
            // 咀嚼カウントを定期的にサーバーから取得して表示を更新する
            function updateMasticationCount() {
                fetch('/display/mastication_count')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('mastication-count').textContent = data.mastication_count;
                    })
                    .catch(error => console.error('Error fetching mastication count:', error));
            }

            // 2秒ごとに更新
            setInterval(updateMasticationCount, 2000);
        </script>
        <script src="{{ url_for('static', filename='js/display_audio.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sound.js') }}"></script>
        <script src="{{ url_for('static', filename='js/audio_detect.js') }}"></script>
    </body>
</html>
