<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">    
        <title>display</title>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}" 
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css')}}"
        />   
    </head>
    <body>        
        <div class="row">
            <form id="ip-form" class="col-md-11 text-right">
                <label for="ip-address">M5StickCのIPアドレス</label>
                <input type="text" id="ip-address" name="ip-address" required>
                <button class="btn btn-danger" type="button" id="save-ip">保存</button>
            </form>
            <canvas class="offset-md-1 col-md-10 text-center" id="audio-visualizer"></canvas>
        
            <div class="col-md-7 text-center">
                <p>推定唾液分泌量</p>
                <p>{{ threshold_value }}</p>
            </div>
            <div class="col-md-4 text-right">
                <a href="" class="btn btn-primary">計測開始</a>
                <a href="" class="btn btn-primary">条件づけ</a>
            </div>
        </div>
        <script>
            const thresholdValue = {{ threshold_value }};
        </script>
        <script src="{{ url_for('static', filename='js/display_audio.js') }}"></script>
      
    </body>
</html>
